body {
    font-family: sans-serif;
    background-color: lightgray;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.puzzle-date-div {
    margin: 10px;
    grid-column: 1;
    grid-row: 1;
}

.puzzle-div {
    grid-column: 1;
    grid-row: 2;
}

.solution-div {
    grid-column: 2;
    grid-row: 2;
}

#puzzle-canvas, #solution-canvas {
    margin: 10px;
}

#solve-button {
    margin: 10px;
}

#timer-label {
    margin: 10px;
}