body {
    font-family: sans-serif;
    background-color: #d3d3d3
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center
}

#puzzle-date-div {
    font-size: large;
    margin: 5px
}

#puzzle-date {
    font-size: large
}

#difficulty-div {
    font-size: large;
    margin: 5px
}

#difficulty-select, #previous-date-button, #next-date-button {
    font-size: large
}

#solve-button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 35px;
    font-size: large;
    vertical-align: bottom
}

#pause-button {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
    font-size: large;
    vertical-align: bottom
}

#footer {
    font-size: small
}
